<%= simple_form_for raid, :html => {:class => "form-horizontal"} do |f| %>
  <fieldset>
    <legend>When and Where</legend>

    <%= f.input :where %>
    <%= f.input :when %>
    <%= f.input :start_at %>
  </fieldset>

  <fieldset>
    <legend>Role Limits</legend>
    <%= f.input :tank %>
    <%= f.input :dps %>
    <%= f.input :healer %>
  </fieldset>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
      <% if raid.persisted? %>
        Update Raid
      <% else %>
        Schedule
      <% end %>
    </button>
  </div>
<% end %>
