<h1>Your Raids</h1>

<div class="raids">
  <% @raids.each do |raid| %>
    <div class="raid">
      <span class="actions">
        <%= link_to "Edit", [:edit, raid] %>
      </span>
      <%= raid.where %> on <%= raid.when.to_s(:full) %> at <%= raid.start_at.to_s(:with_am_pm) %> Server
      <span class="invites">Invites start at <%= raid.invite_at.to_s(:with_am_pm) %> Server</span>
      <span class="limits">
        Tanks: <%= raid.role_limit(:tank) %>
        DPS: <%= raid.role_limit(:dps) %>
        Healers: <%= raid.role_limit(:heal) %>
      </span>
    </div>
  <% end %>
</div>

<%= link_to "Schedule a Raid", new_raid_path %>
