<h1>Your Raids</h1>

<div class="raids">
  <% @raids.each do |raid| %>
    <div class="raid">
      <span class="actions">
        <%= link_to "Edit", [:edit, raid] if permission? :schedule_raid %>
        <%= link_to "View", [raid] %>
      </span>
      <%= raid.where %> on <%= raid.when.to_s(:full) %> at <%= raid.start_at.to_s(:with_am_pm) %> Server
      <span class="invites">Invites start at <%= raid.invite_at.to_s(:with_am_pm) %> Server</span>
      <span class="limits">
        Tanks: <%= raid.tank %>
        DPS: <%= raid.dps %>
        Healers: <%= raid.healer %>
      </span>
    </div>
  <% end %>
</div>

<% permission :schedule_raid do %>
  <%= link_to "Schedule a Raid", new_raid_path %>
<% end %>
