<h1>Schedule a Raid</h1>

<%= form_tag raids_path, :class => "form-inline" do %>
  <%= text_field_tag :where, "", :placeholder => "Where" %>
  <%= text_field_tag :when, "", :placeholder => "What Day" %>
  <%= text_field_tag :start, "", :placeholder => "Starting At" %>
  <br/>
  <br/>

  <%= text_field_tag :tank, "", :placeholder => "Tanks" %>
  <%= text_field_tag :dps, "", :placeholder => "DPS" %>
  <%= text_field_tag :healer, "", :placeholder => "Healers" %>

  <br/>
  <br/>
  <%= button_tag "Schedule", :class => "btn" %>
<% end %>
