- form_for @raid do |f|

  %p
    = f.label :date, "Date"
    = f.text_field :date

  %p
    = f.label :invite_time, "Invite Time"
    = f.text_field :invite_time

  %p
    = f.label :start_time, "Start Time"
    = f.text_field :start_time

  %p
    = f.label :location, "Location"
    = f.text_field :location

  %p
    = f.label :description, "Description"
    = f.text_field :description

  = submit_tag "Create Raid"
