<div class="raid span12">
  <div class="row">
    <div class="span3 info-block left">
      <div class="lesser-info"><%= @raid.size %>-man</div>
      <div class="major-info"><%= @raid.where %></div>
      <div class="lesser-info">&nbsp;</div>
    </div>
    <div class="span3 offset6 info-block">
      <div class="lesser-info"><%= @raid.when.to_s(:full) %></div>
      <div class="major-info"><%= @raid.invite_at.to_s(:with_am_pm_tz) %></div>
      <div class="lesser-info">Starts at <%= @raid.start_at.to_s(:with_am_pm) %></div>
    </div>
  </div>

  <section class="status accepted">
    <% @raid.roles.each do |role| %>
      <section class="raid-role <%= role %>">
        <% if @signups.accepted(role).any? %>
          <%= render :partial => "signup", :collection => @signups.accepted(role) %>
        <% else %>
          <%# There needs to be content or the boxes don't line up /shrug %>
          <div class="signup">&nbsp;</div>
        <% end %>
      </section>
    <% end %>
  </section>

  <section class="status available">
    <% @raid.roles.each do |role| %>
      <section class="raid-role <%= role %>">
        <% if @signups.available(role).any? %>
          <%= render :partial => "signup", :collection => @signups.available(role) %>
        <% else %>
          <div class="signup">&nbsp;</div>
        <% end %>
      </section>
    <% end %>
  </section>

  <section class="status cancelled">
    <% @raid.roles.each do |role| %>
      <section class="raid-role <%= role %>">
        <% if @signups.cancelled(role).any? %>
          <%= render :partial => "signup", :collection => @signups.cancelled(role) %>
        <% else %>
          <div class="signup">&nbsp;</div>
        <% end %>
      </section>
    <% end %>
  </section>

  <section class="signup">
    <% if @raid.past? %>
      <p>Cannot sign up to raids in the past</p>
    <% elsif @current_user_characters.empty? && @choosable_characters.empty? %>
      <p>You need a character to sign up to raid</p>
    <% elsif @choosable_characters.empty? %>
      <p>You have no more characters to sign up!</p>
    <% else %>
      <h4>Sign Up for this Raid</h4>

      <%= form_tag raid_signups_path(@raid) do %>
        <%= select_tag :character_id, option_list_of_characters(@choosable_characters) %>
        <%= select_tag :role, options_for_select([["DPS", "dps"], ["Healer", "healer"], ["Tank", "tank"]]) %>
        <%= submit_tag "Sign Up" %>
      <% end %>
    <% end %>
  </section>
</div>
