<div class="raid span12">
  <h2>Raid on <%= @raid.when.to_s(:full) %> to <%= @raid.where %></h2>

  <div class="row">
    <section class="invites span6">
      <span>Invites start at <%= @raid.invite_at.to_s(:with_am_pm) %></span>
    </section>

    <section class="start span6">
      <span>Raid starts at <%= @raid.start_at.to_s(:with_am_pm) %></span>
    </section>
  </div>

  <h3>Accepted</h3>
  <section class="accepted row">
    <% @raid.roles.each do |role| %>
      <section class="<%= role %> span4">
        <h4><%= role.upcase %></h4>
        <%= render :partial => "signup", :collection => @signups.accepted(role) %>
      </section>
    <% end %>
  </section>

  <h3>Available</h3>
  <section class="available row">
    <% @raid.roles.each do |role| %>
      <section class="<%= role %> span4">
        <h4><%= role.upcase %></h4>
        <%= render :partial => "signup", :collection => @signups.available(role) %>
      </section>
    <% end %>
  </section>

  <h3>Cancelled</h3>
  <section class="cancelled row">
    <% @raid.roles.each do |role| %>
      <section class="<%= role %> span4">
        <h4><%= role.upcase %></h4>
        <%= render :partial => "signup", :collection => @signups.cancelled(role) %>
      </section>
    <% end %>
  </section>

  <section class="signup">
    <% if @current_user_characters.empty? && @choosable_characters.empty? %>
      <p>You need a character to sign up to raid</p>
    <% elsif @choosable_characters.empty? %>
      <p>You have no more characters to sign up!</p>
    <% else %>
      <h4>Sign Up for this Raid</h4>

      <%= form_tag raid_signups_path(@raid) do %>
        <%= select_tag :character_id, option_list_of_characters(@choosable_characters) %>
        <%= select_tag :role, options_for_select([["DPS", "dps"], ["Healer", "healer"], ["Tank", "tank"]]) %>
        <%= submit_tag "Sign Up" %>
      <% end %>
    <% end %>
  </section>
</div>
