.raid

  %h3 Raid Info

  .register
    = form_tag enqueue_raid_path(@raid), :method => :put do
      #queue_main
        %button.large{:type => "submit"}
          Queue With 
          = @main.name

        %p
          or
          = link_to "Queue with another", "#", :class => "queue_another"

      #queue_form
        %table
          %tr
            %td= label_tag :character_id, "Character:"
            %td= select_tag :character_id, character_list(@characters, @main)
            
            %td{:rowspan => "2"}
              %button.small{:type => "submit"} Add to Queue

          %tr
            %td= label_tag :role, "Role:"
            %td= select_tag :role, role_list(@main)

  .info
    %p
      %strong Date:
      = @raid.date

    %p
      %strong Invite Time:
      = @raid.invite_time

    %p
      %strong Start Time:
      = @raid.start_time

    %br
    
    %p
      %strong Where:
      = @raid.location

    %p
      %strong Description:
      = @raid.description

  .queues

    .left
      = render_cell :raid, :queue, :role => :tanks, :raid => @raid

      = render_cell :raid, :queue, :role => :healers, :raid => @raid

    .right
      = render_cell :raid, :queue, :role => :dps, :raid => @raid

    .clear
