.raid

  %h3 Raid Info

  .info
    %p
      %strong Date:
      = @raid.date

    %p
      %strong Invite Time:
      = @raid.invite_time

    %p
      %strong Start Time:
      = @raid.start_time

    %br
    
    %p
      %strong Where:
      = @raid.location

    %p
      %strong Description:
      = @raid.description


