%div.queue{:id => @role}
  .header
    = @role.to_s.capitalize.pluralize

    %span.status
      = "( #{@raid.number_accepted_for(@role)} / #{@raid.send(@role.to_s.pluralize)} )"

  - {:accepted => @accepted, :queued => @queued, :cancelled => @cancelled}.each do |queue, list|
    %div{:class => queue}
      %h3= queue.capitalize

      - list.each do |char|
        .character_wrapper
          .actions
            != render_actions(queue, @raid, @role, char)
          .queueing
            = render_cell :characters, :in_raid, :character => char, :queue => queue
          .clear
