= render :partial => "nav"

.manage_users
  %h2 Users Management

  %table.tablesorter
    %thead
      %tr
        %th User
        %th Role
        %th Characters
        %th.nosort

    %tbody
      - @users.each do |user|
        %tr{:id => dom_id(user)}
          %td= user.email
          %td= user.role
          %td= user.character_names.join(", ")
          %td= link_to "Edit", admin_edit_user_path(user)

