= render :partial => "nav"

.manage_raids
  %h2 
    Event Logs for
    = @raid.location
    at
    = @raid.date

  %table.tablesorter{"data-default" => "0,1"}
    %thead
      %tr
        %th{:width => "20%"} Date
        %th.nosort{:width => "20%"} Who
        %th.nosort Event

    %tbody
      - @logs.each do |log|
        %tr
          %td= log.when.to_s(:with_date)
          %td= log.who
          %td= log.event
