= render :partial => "nav"

.manage_loot
  %h2 Loot System

  .loot_system
    %h3 Ni Karma

    %fieldset
      %legend Upload new Karma file
      = form_tag admin_loot_path, :multipart => true do
        Upload new loot file: 
        = file_field_tag :file
        %br
        = submit_tag "Upload"

    %fieldset.download
      %legend Download latest karma file

      = link_to current_guild.newest_loot_file_name, current_guild.newest_loot_file_url, :class => 'button medium'

    .clear
