.user
  .left
    = link_to "Calendar", root_path

  - if role?(:user)
    %strong= current_user.email
    |
    = link_to "My Characters", characters_path
    |
    = link_to "Sign out", destroy_user_session_path(current_user)
  - else
    = link_to "Sign in", new_user_session_path
