<div class="character span4 <%= character.main? ? "main-character" : "" %>" data-character-name="<%= normalize_name character.name %>">
  <%= character_icon character %>
  <div class="name"><%= character.name %></div>
  <% if character.guild && !character.main? %>
    <div class="actions">
      <%= form_tag make_main_character_path(character), :method => :put do %>
        <%= submit_tag "Make Main", :class => 'btn btn-small' %>
      <% end %>
    </div>
  <% end %>
</div>
