<div class="character span4 <%= character.main? ? "main-character" : "" %>" data-character-name="<%= normalize_name character.name %>">
  <%= character_icon character %>
  <div class="actions">
    <%= link_to "Edit", edit_character_path(character) %>
    <% if character.guild && !character.main? %>
      <%= form_tag make_main_character_path(character), :method => :put do %>
        <%= submit_tag "Make Main", :class => 'btn btn-mini' %>
      <% end %>
    <% end %>
  </div>
  <div class="name"><%= character.name %></div>
</div>
