<h2>Add A Character!</h2>

<%= simple_form_for @character, :html => {:class => "form-horizontal"} do |f| %>
  <%= hidden_field_tag :game, "wow" %>

  <%= render "form", :f => f %>

  <% if @current_guilds.any? %>
    <%= f.input :guild_id, :label => "Choose Guild" do %>
      <%= f.select :guild_id, [["Add to existing guild", ""]] + @current_guilds.map {|g| [g.name, g.id]} %>
    <% end %>
  <% end %>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Add Character</button>
  </div>
<% end %>
