.character
  .class_icon
    = image_tag "icons/#{@character.class_slug}.jpg"
  .name
    %h3
      - if @name_url
        = link_to @character.name, @name_url
      - else
        = @character.name
  .info
    = "#{@character.level} #{@character.race} #{@character.class_name}"

    - if @with_form
      - unless @character.is_main
        (
        = link_to "Make Main", make_main_character_path(@character)
        )

      - # Ick, figure out a better way to write this
      - list = Wow::AvailableRoles[@character.class_name]
      - if list.length > 1
        = form_for @character do |f|
          = f.select :main_role, role_list(@character)
          = submit_tag "Update"
      - else
        %br
        %strong= Wow::RoleValueMap[list.first]

