.character
  .class_icon
    = image_tag "icons/#{@character.class_slug}.jpg"
  .name
    %h3
      - if @name_url
        = link_to @character.name, @name_url
      - else
        = @character.name
  .info
    = "#{@character.level} #{@character.race} #{@character.klass}"
