<h2>This is you!</h2>

<%= simple_form_for @user, :url => profile_path, :html => {:class => "form-horizontal"} do |f| %>

  <fieldset>
    <legend>Personal Information</legend>

    <%= f.input :login %>
    <%= f.input :email %>

  </fieldset>

  <fieldset>
    <legend>Change Password</legend>

    <%= f.input :current_password, :label => "Current Password" %>
    <%= f.input :new_password, :label => "New Password" %>
    <%= f.input :confirm_new_password, :label => "Again" %>

  </fieldset>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>

<% end %>
