!!!
%html
  %head
    %title RaidIt for Exiled of US-Detheroc

    = javascript_include_tag :jquery
    = #javascript_include_tag :app

    = coffee_script_bundle

    = stylesheet_link_tag :all
    = csrf_meta_tag

  %body
    #content_wrapper
      #header
        = render :partial => "shared/header"

      #content
        = render :partial => "shared/flash", :locals => {:flash => flash}

        = yield
