!!!
%html
  %head
    %title RaidIt for Exiled of US-Detheroc

    = javascript_include_tag :jquery

    - if Rails.env.production?
      = javascript_include_tag "coffeescripts"
    - else
      = coffee_script_bundle

    = stylesheet_link_tag "main"
    = csrf_meta_tag

  %body
    #content_wrapper
      #header
        = render :partial => "shared/header"

      #content
        = render :partial => "shared/flash", :locals => {:flash => flash}

        = yield
