!!!
%html
  %head
    %title RaidIt for Exiled of US-Detheroc

    = stylesheet_link_tag :all
    = csrf_meta_tag

  %body
    - if user_signed_in?
      #header
        = render :partial => "shared/header"

    #content
      = render :partial => "shared/flash", :locals => {:flash => flash}

      = yield
