<!DOCTYPE html>
<html>
  <head>
    <title>Raid It</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= yield :header %>
  </head>
  <body>

    <div class="container">
      <%= render_flash_messages %>
      <div class="content">
        <div class="main-nav clearfix">
          <ul class="nav nav-pills">
            <% if current_user %>
              <li class="active">
                <%= link_to "Home", root_path %>
              </li>
              <li>
                <%= link_to "Characters", "#" %>
              </li>
              <li>
                <%= link_to "Raids", "#" %>
              </li>
              <li>
                <%= link_to "Log Out", logout_path %>
              </li>
            <% else %>
              <li>
                <%= link_to "Log In", login_path %>
              </li>
              <li>
                <%= link_to "Sign Up", "#" %>
              </li>
            <% end %>
          </ul>
        </div>

        <%= yield %>
      </div>

      <footer>
        <p>&copy; RaidIt <%= Date.today.year %></p>
      </footer>

    </div>
  </body>
</html>
