!!!
%html
  %head
    %title RaidIt for Exiled of US-Detheroc

    = stylesheet_link_tag :all
    = csrf_meta_tag

  %body
    #content
      #flash
        - if flash[:notice]
          .notice= flash[:notice]
        - elsif flash[:error]
          .error= flash[:error]

      = yield
